[Desktop Entry]
Name=Notes (Recoll)
Comment=Recoll Gnome Shell Search Provider (Notes only)
Icon=edit-symbolic
DBusActivatable=true
Terminal=false
Type=Application
Categories=Utility;Filesystem;Database;Notes;
Keywords=Search;Full Text;
NoDisplay=true