[Desktop Entry]
Name=Mail (Recoll)
Comment=Recoll Gnome Shell Search Provider (Mail only)
Icon=notification-new-symbolic
DBusActivatable=true
Terminal=false
Type=Application
Categories=Utility;Filesystem;Database;Mail;EMail;
Keywords=Search;Full Text;
NoDisplay=true