[Desktop Entry]
Name=WWW (Recoll)
Comment=Recoll Gnome Shell Search Provider (WWW only)
Icon=www-symbolic
DBusActivatable=true
Terminal=false
Type=Application
Categories=Utility;Filesystem;Database;WWW;Network;Firefox;
Keywords=Search;Full Text;WWW;Network;History;
NoDisplay=true