[Desktop Entry]
Name=Media (Recoll)
Comment=Recoll Gnome Shell Search Provider (Media only)
Icon=application-video
DBusActivatable=true
Terminal=false
Type=Application
Categories=Utility;Filesystem;Media;Audio;Video;Image;
Keywords=Search;Full Text;
NoDisplay=true