[Desktop Entry]
Name=Code (Recoll)
Comment=Recoll Gnome Shell Search Provider (Code only)
Icon=text-x-c
DBusActivatable=true
Terminal=false
Type=Application
Categories=Utility;Filesystem;Code;
Keywords=Search;Full Text;
NoDisplay=true