[Desktop Entry]
Name=News (Recoll)
Comment=Recoll Gnome Shell Search Provider (News only)
Icon=application-rss+xml-symbolic
DBusActivatable=true
Terminal=false
Type=Application
Categories=Utility;Filesystem;Database;News;RSS;Notes;
Keywords=Search;Full Text;
NoDisplay=true